<!doctype html>
<html>
<head>
	<title>eqbeats</title>

	<meta charset="utf-8">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<link rel="stylesheet/less" type="text/css" href="style/style.less">
	<script>less = { env: "development" }; </script>
	<script src="js/libs/less-1.6.0.min.js"></script>
</head>
<body>

<div id="wrapper">
	<div class="flex-columns main-wrapper">
		<section class="left-pane" id="side-region"></section>
		
		<div id="contents" class="flex">
			<section id="main-region" class="active"></section>
		</div>
	</div>

	<section class="bottombar" id="player-region"></section>
</div>

<script type="text/template" id="sidepanel">
	<div id="searchbar-wrap"><input type="search" id="searchbar" placeholder="Search"></div>
	<div id="left-menu" class="flex">
		<div id="menu"></div>
		<div id="playlists"></div>
	</div>

	<div class="trackinfo">
		<input type="checkbox" id="toggle-trackinfo" class="invisible" checked>
		<label for="toggle-trackinfo">
			<div class="coverart-wrap"><img id="coverart" src="img/album-placeholder.png"></div>
			<div id="coverart-thumb" class="art-thumb" style="background-image: url('img/album-placeholder.png');"></div>
		</label>
		<div id="trackinfo-region"></div>
	</div>
</script>

<script type="text/template" id="trackinfo-template">
	<div id="track-title-wrapper" class="marquee"><span><a href="javascript:" id="track-title" tabindex="-1"><%=title%></a></span></div>
	<div id="track-artist-wrapper" class="marquee"><span><a href="#/user/<%=artist.id%>" id="track-artist" tabindex="-1"><%=artist.name%></a></span></div>
</script>

<script type="text/template" id="sidepanel-menuitem">
	<span tabindex="0"><%=typeof title ==='undefined'?name:title%></span>
</script>

<script type="text/template" id="index">
	<div class="content-padding">
		<h1>eqbeats web app</h1>
		<div class="left">
			<h3>Featured</h3>
			<div id="featured"></div>
		</div>
		<div class="left">
			<h3>Latest</h3>
			<div id="latest"></div>
		</div>
	</div>
</script>


<script type="text/template" id="tracklist-big-item">
	<div class="art art-thumb" style="background-image: url('<%
		if (download.art) { %><%=download.art%>/thumb<% }
		else { %><% }
		%>');"></div>
	<div><a class="title" href="javascript:" tabindex="-1"><%=title%></a></div>
	<div><a class="artist" href="#/user/<%=artist.id%>" tabindex="-1"><%=artist.name%></a></div>
</script>

<script type="text/template" id="player-template">
	<div id="media-controls"></div>
	<span class="playerTime" id="timeElapsed"></span>
	<div class="progressbar" id="progress-song"></div>
	<span class="playerTime" id="timeTotal"></span>
	<label class="repeat-wrap" id="track-repeat">
		<input type="checkbox" class="repeat-checkbox" id="repeat-box"/>
		<div class="repeat-background"></div>
		<div for="repeat-box" class="repeat-overlay"><div></div></div>
	</label>
</script>

<script type="text/template" id="player-controls">
	<button id="prev-track-btn" disabled><div></div></button>
	<button id="play-pause-track-btn" disabled></button>
	<button id="next-track-btn" disabled><div></div></button>
</script>

<script type="text/template" id="player-time">
	<%=formatTime(time)%>
</script>
<script type="text/template" id="player-progress">
	<div class="progressbar-loaded"></div>
	<div class="progressbar-progress">
		<div class="progressbar-scrubber" tabindex="0"></div>
	</div>
</script>
<script type="text/template" id="player-duration">
	<%=formatTime(duration)%>
</script>


<script type="text/template" id="user">
	<div id="info"></div>
	<div class="content-padding">
		<h3>Playlists</h3>
		<div id="playlists"></div>
		<h3>Tracks</h3>
	
		<div id="tracks" class="left"></div>
	</div>
</script>
<script type="text/template" id="user-info">
	<h1><img src="<%=avatar%>" height=64 align=top> <a href="#/user/<%=id%>"><%=name%></a></h1>
	<br>
	<div class="content-padding">
		<%=html_description%>
	</div>

	<h3 class="content-padding"><a href="#/user/<%=id%>/favourites">★ Favourites</a></h3>
</script>

<script type="text/template" id="user-playlist">
	<a href="#/playlist/<%=id%>"><%=name%></a> by <%=author.name%> (<%=html_description%>)
</script>

<script type="text/template" id="favourites">
	<div id="info"></div>
	<div id="list"></div>
</script>
<script type="text/template" id="favourites-info">
	<h1><img src="<%=avatar%>" height=48 align=top> ★ <a href="#/user/<%=id%>"><%=name%></a>'<!--'-->s favourite tracks</h1>
</script>


<script type="text/template" id="playlist">
	<div class="content-padding">
		<div id="info"></div>
	</div>
	<div id="list"></div>
</script>
<script type="text/template" id="playlist-info">

	<h1><a href="#/playlist/<%=id%>"><%=name%></a></h1>
	<%=html_description%>
	<br>
	A playlist by <img src="<%=author.avatar%>" height=32>
	<a href="#/user/<%=author.id%>"><%=author.name%></a>
	<br>
</script>

<script type="text/template" id="playlist-list">
	<table class="playlist-table">
		<thead>
			<tr>
				<!--<th></th>-->
				<th>Title</th>
				<th>Artist</th>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</script>

<script type="text/template" id="playlist-track">
	
	<!--<td>
		<div style="width: 32px; height: 32px; background-position: center center; background-size: cover; <% if (download.art) { %> background-image: url('<%=download.art%>/thumb');<% } %>"></div>
	</td>-->
	<td><%=title%></td>
	<td><a href="#/user/<%=artist.id%>" tabindex="-1"><%=artist.name%></a></td>
	<td><div class="buttons"><button type="button" class="add-to-queue" tabindex="-1">Queue</button></div></td>
	<!--<td><audio src="<%=stream.mp3%>" controls preload="none"></audio></td>-->
</script>

<script type="text/template" id="queue-template">
	<div class="content-padding">
		<h1>Queue</h1>
	</div>
	<div id="queue"></div>
</script>

<script type="text/template" id="empty-template"> </script>



<script src="js/libs/backbone.marionette/jquery.js"></script>
<script src="js/libs/backbone.marionette/underscore.js"></script>
<script src="js/libs/backbone.marionette/backbone.js"></script>
<script src="js/libs/backbone.marionette/backbone.marionette.js"></script>
<!--<script src="js/libs/backbone.fetch-cache.min.js"></script>-->
<script src="js/libs/spin.min.js"></script>
<script src="js/libs/jquery.spin.js"></script>

<script src="js/customization/backbone/sync.js"></script>
<script src="js/customization/marionette/application.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers/_base.js"></script>
<script src="js/entities/_utilities.js"></script>
<script src="js/entities/entities.js"></script>
<script src="js/entities/sidepanel.js"></script>
<script src="js/entities/player.js"></script>
<script src="js/views.js"></script>


<script src="js/components/loading/loading_controller.js"></script>
<script src="js/components/loading/loading_view.js"></script>
<script src="js/components/sidepanel/sidepanel-controller.js"></script>
<script src="js/components/sidepanel/sidepanel-views.js"></script>
<script src="js/components/player/player-controller.js"></script>
<script src="js/components/player/player-views.js"></script>

<script src="js/contents/index.js"></script>
<script src="js/contents/index-show.js"></script>
<script src="js/contents/index-show-views.js"></script>

<script src="js/contents/playlist.js"></script>
<script src="js/contents/playlist-show.js"></script>
<script src="js/contents/playlist-show-views.js"></script>

<script src="js/contents/user.js"></script>
<script src="js/contents/user-show.js"></script>
<script src="js/contents/user-show-views.js"></script>
<script src="js/contents/user-favourites.js"></script>
<script src="js/contents/user-favourites-views.js"></script>

<script src="js/contents/queue.js"></script>
<script src="js/contents/queue-show.js"></script>
<script src="js/contents/queue-show-views.js"></script>

<script src="js/launch.js"></script>
</body>
</html>