
/* Temporary */
@-webkit-keyframes sample-track {
	0% {width: 0%;}
	100% {width: 100%;}
}
@-webkit-keyframes sample-track-loaded {
	0% {width: 0%;}
	40% {width: 100%;}
	100% {width: 100%;}
}
@-moz-keyframes sample-track {
	0% {width: 0%;}
	100% {width: 100%;}
}
@-moz-keyframes sample-track-loaded {
	0% {width: 0%;}
	40% {width: 100%;}
	100% {width: 100%;}
}
@keyframes sample-track {
	0% {width: 0%;}
	100% {width: 100%;}
}
@keyframes sample-track-loaded {
	0% {width: 0%;}
	40% {width: 100%;}
	100% {width: 100%;}
}


@font-face {
	font-family: "DejaVu Sans";
	src: url("fonts/DejaVuSans-webfont.eot");
	src: url("fonts/DejaVuSans-webfont.eot#iefix") format("embedded-opentype"),
		 url("fonts/DejaVuSans-webfont.woff") format("woff"),
		 url("fonts/DejaVuSans-webfont.ttf") format("truetype"),
		 url("fonts/DejaVuSans-webfont.svg") format("svg");
}
/*
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
*/

body {
	font-family: "Liberation Sans", Helvetica, sans-serif;
	font-size: 16px;
	background-color: #ecebe8;
	overflow: hidden; /* prevents sticky scroll on OS X */
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

a {
	color: #408;
	text-decoration: none;
	&:hover {
		color: #80C;
		text-decoration: underline;
	}
}

h2, h3, h4 {
	font-weight: 100;
}

h1 {
	font-family: "DejaVu Sans";
	font-size: 26px;
	font-weight: 100;
	color: #408;
	margin: 0px;
}

h2 {
	font-size: 1.8em;
	margin: 0;
	color: #203;
}

h3 {
	font-size: 1.4em;
	margin: 25px 0 5px;
}

li {
	margin: 0;
	list-style: square;
	padding: 8px 0;
	color: #406;
}
ul {
	margin: 10px 20px;
	padding: 0 20px;
}

h4 {
	font-size: 1.2em;
	margin: 20px 0 0;
}

input.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.none {
	display: none;
}
.relative {
	position: relative;
}

.flex-columns {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-flow: rows;
	-moz-flex-flow: rows;
	flex-flow: rows;
}
.flex {
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
}

.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

.description {
	margin: 0 10px;
}

.toolbar {
	margin: 10px 0 0;
	line-height: 2em;
	font-size: 13px;

	img {
		margin: 0 5px 0 5px;
		vertical-align: middle;
		padding-bottom: 3px;
	}
	a {
		padding: 2px 0;
		margin: 0 3px;
	}
}

.user {
	margin: 7px 20px;
	margin-bottom: 0;

	.avatar {
		border-radius: 3px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('../img/avatar.png');
		width: 80px;
		height: 80px;
		margin: 0 15px;
		display: block;
		float: left;
	}
	h2 {
		padding: 7px 0;
	}
	.items {
		//margin-left: 116px;
		.item {
			margin: 8px 15px 8px 0px;
			display: inline-block;
		}
	}
	.notes {
		margin-top: 7px;
		margin-bottom: 0;
	}
}

.playlist {
	margin-top: 7px;

	h4 {
		margin: 10px;
	}
}

ul.playlists {
	margin: 0;
	li {
		list-style: none;
		color: #222;

		.count {
			font-size: 0.7em;
			margin-left: 10px;
		}

		.description {
			border-left: 1px solid #eee;
			padding: 5px 8px;
			font-size: 0.9em;
			font-size: 0.8em;
			line-height: 1.3em;
			text-align: justify;
			max-height: 80px;
			overflow: auto;
		}
	}
}

.favourites {
	#info {
		margin: 7px 20px;

		.avatar {
			width: 64px;
			height: 64px;
			float: left;
			border-radius: 3px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url('../img/avatar.png');
			margin-right: 15px;
		}
		h2 {
			padding-top: 18px;
		}
	}
}


.track {

	.track-player {
		overflow: hidden;
		position: relative;

		.cover {
			height: 480px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center 50%;
			background-image: url('../img/album-placeholder.png');
			background-color: #292929;
		}
		.gradient {
			height: 100%;
			padding: 20px;
			background: -webkit-linear-gradient(top, rgba(0,0,0, 0.0) 0%, rgba(0,0,0, 0.0) 20%, rgba(0,0,0,0.2) 75%, rgba(0,0,0,0.7) 100%);
			background:   linear-gradient(to bottom, rgba(0,0,0, 0.0) 0%, rgba(0,0,0, 0.0) 20%, rgba(0,0,0,0.2) 75%, rgba(0,0,0,0.7) 100%);
			//background:      -o-linear-gradient(top, rgba(254,252,249,1) 0%,rgba(254,252,249,0.95) 100%);
		}
		.info {

			cursor: default;
			
			h2, h4 {
				position: absolute;
				left: 120px;
				right: 20px;
				

				span {
					background-color: rgba(0,0,0,0.5);
					padding: 3px 7px;
					display: inline-block;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					max-width: 100%;
					-webkit-transition: background-color .2s ease-in-out;

					&:hover {
						background-color: rgba(0,0,0,0.75);
					}
				}
			}
			h2 {
				color: #ECF;
				top: 20px;
			}
			h4 {
				top: 52px;

				span {
					height: 22px;
				}

				a {
					color: #C9E;
				}
			}

		}

		.avatar {
			float: left;
			border-radius: 3px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url('../img/avatar.png');
			width: 80px;
			height: 80px;
			margin-right: 20px;
			border-radius: 3px;
		}

		button.play-track {
			position: absolute;
			margin: auto;
			top: 50%;
			left: 50%;
			margin-left: -50px;
			margin-top: -50px;

			display: block;
			width: 100px;
			height: 100px;
			border: 3px solid white;
			background-color: rgba(0,0,0,0.2);
			border-radius: 100px;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
			opacity: 0;
			cursor: pointer;
			overflow: hidden;

			-webkit-transition: opacity .2s ease-in-out, background-color .1s ease-in-out;


			&:before {
				position: absolute;
				content: "";
				left: 31px;
				top: 22px;
				border: 0px solid transparent;
				border-width: 25px 45px;
				border-left-color: #fff;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.4);
			}
			&:active {
				background-color: rgba(0, 0, 0, 0.6);
			}
			&:focus {
				outline: none;
			}
		}

		button.add-to-queue {
			position: absolute;
			right: 5px;
			bottom: 5px;
			display: none;
		}
		&:hover {
			button.play-track {
				opacity: 1;
			}
			button.add-to-queue {
				display: block;
			}
		}

	}

	#info {
		margin-bottom: 30px;

		.leftcol {
			float: left;
			width: 300px;
			min-height: 160px;

			.art {
				max-width: 300px;
				max-height: 300px;
				padding: 0;
				margin-right: 15px;
				border-radius: 5px;
				display: block;
				margin: auto;
			}
		}
		.rightcol {
			width: 100%;
			box-sizing:border-box;
			-moz-box-sizing:border-box; /* Firefox */
			border-left: 320px solid transparent;
			.notes {
				
			}
		}
	}
	
}

ul.downloads {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    height: 2.5em;
    font-size: 16px;
}

ul.downloads li{
    display: block;
    position: relative;
    visibility: hidden;
    margin: 0;
    padding: 0;
    z-index: 100;
}

.downloads a{
    display:inline-block;
    width:100%;
    background: white;
    padding: 0; margin: 0;
}

.downloads a > span{
    padding: 8px;
}


.downloads a:hover{
    background: #fafafa;
    text-decoration: none;
}

ul.downloads li a{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

ul.downloads li:first-child:after{
    content: "▼";
    position: absolute;
    text-align: right;
    right: .5em;
    top: 0;
    left: 0;
    bottom:0;
    z-index: 99999;
    /* this ensures that the menu can be opened on touch devices
       the first click will click on this and hover, thus removing this element */
    cursor: default;
    color: #333;
}
ul.downloads:hover li:first-child:after{
    display: none;
}
ul.downloads li:first-child a{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
ul.downloads:hover li:first-child a{
    border-bottom: none;
}
ul.downloads:hover li:last-of-type a{
    border-bottom: 1px solid #ccc;
}
ul.downloads li:first-child,
ul.downloads:hover li{
    visibility: visible;
}

.license {
	font-size: 0.8em;
	color: #888;
	margin: 10px 5px 0px;
}

#wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	/*min-width: 800px;
	min-height: 380px;*/
}

.main-wrapper {
	position: absolute;
	bottom: 34px;
	top: 0;
	left: 0;
	right: 0;
}


#contents {
	box-shadow: 0 0 1px #888;
	//background-color: #fdfdfd;
	background-color: #fefcf9;
	background-image: url('../img/noisy-texture-100x100-o2-d10-c-fefcf9-t0.png');
	color: #181211;
	position: relative;
	overflow: hidden;

	> section {
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		overflow: auto;
		display: none;

		&.active {
			display: block;
		}

		h3 {

			border-radius: 5px;
			padding: 10px 12px;
			border: 1px solid #eee;
			background: url("../img/title-grad.png") repeat-x bottom #fbfbfb;

			a:focus {
				outline: none;
				text-decoration: underline;
				color: #80C;
			}

			img {
				float: left;
				display: block;
				margin-right: 7px;
			}

		}
	}

}

.content-padding {
	padding: 0px 20px;
	overflow: hidden;

	> .left {
		max-width: 600px;
		width: 50%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		border-left: 20px solid transparent;

		&:first-child {
			border-left: none;
		}
	}
}


/*.tracklist-big {
	list-style-type: none;
	overflow: hidden;
	border: 1px solid #d6d5d2;
	margin-bottom: 10px;
	padding: 0px;
	cursor: default;

	li {
		padding-right: 7px;
		margin: 0;
		display: block;
		background-color: #fff;
		height: 48px;
		overflow: hidden;
		font-size: 13px;
		color: #408;

		&:last-child {
			border-bottom: none;
		}
		&:nth-child(2n) {
			background-color: #f5f4f1;
		}
		&:focus {
			background-color: rgba(160, 64, 255, 0.2);
			outline: none;
		}
		&:active {
			background-color: rgba(160, 64, 255, 0.7);
			color: white;
			a {
				color: white;
			}
		}

		> div {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.art {
			float: left;
			margin-right: 7px;
		}
		.title {
			font-size: 18px;
			line-height: 28px;
		}
		.artist {
			font-size: 15px;
		}

		.add-to-queue {
			float: right;
			display: none;
			margin-top: -5px;
		}
		&:hover {
			.add-to-queue {
				display: block;
			}
		}
	}
	&.noArtist {
		.title {
			font-size: 20px;
			line-height: 48px;
		}
		.artist {
			display: none;
		}
		.add-to-queue {
			margin-top: -25px;
		}
	}
}*/

.tracklist-big {
	list-style-type: none;
	overflow: hidden;
	margin: 10px 0;
	margin-bottom: 15px;
	padding: 0 10px;
	cursor: default;

	li {
		padding: 7px 10px;
		margin: 0;
		display: block;
		//background-color: #fff;
		height: 64px;
		overflow: hidden;
		font-size: 13px;
		color: #406;

		border-bottom: 1px solid #e3e3e3;

		&:not(.empty):hover {
			background-color: #f4f4f4;
		}
		/*&:nth-child(2n) {
			background-color: #f5f4f1;
		}*/
		&:last-child {
			border-bottom: none;
		}

		&:not(.empty):focus {
			background-color: rgba(160, 64, 255, 0.2);
			outline: none;
		}
		&:not(.empty):active {
			background-color: rgba(160, 64, 255, 0.7);
			color: white;
			a {
				color: white;
			}
		}

		> div {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.art-thumb {
			float: left;
			margin-right: 10px;
			width: 64px;
			height: 64px;
			//background-color: #292929;
			background-image: url('../img/album-placeholder.png');
			background-size: cover;
			background-position: center center;
			border-radius: 3px;
			box-shadow: inset 2px 2px 7px rgba(0,0,0,0.1);
			background-repeat: no-repeat;

			cursor: pointer;
			overflow: hidden;

			.overlay {
				position: relative;
				height: 100%;
				background-color: rgba(0,0,0,0.2);
				display: none;


				&:before {
					position: absolute;
					content: "";
					left: 19px;
					top: 15px;
					border: 0px solid transparent;
					border-width: 17px 30px;
					border-left-color: #fff;
				}
			}
			&:hover .overlay {
				display: block;
			}
		}

		.title {
			margin-top: 3px;
			font-size: 18px;
			line-height: 32px;
		}
		.artist {
			font-size: 15px;
		}

		.add-to-queue {
			float: right;
			display: none;
			margin-top: -5px;
		}
		&:hover {
			.add-to-queue {
				display: block;
			}
		}


	}
	&.noArtist {
		.title {
			//font-size: 20px;
			line-height: 58px;
		}
		.artist {
			display: none;
		}
		.add-to-queue {
			margin-top: -25px;
		}
	}
}

#playlist-layout {
	.playlist-table {
		width: 100%;
		
		border-spacing: 0px;
		cursor: default;
	}

	.art-thumb {
		width: 30px;
		height: 30px;
		background-position: center center;
		background-size: cover;
		background-image: url('../img/album-placeholder.png');

		
		cursor: pointer;
		overflow: hidden;
		.overlay {
			position: relative;
			height: 100%;
			background-color: rgba(0,0,0,0.3);
			display: none;


			&:before {
				position: absolute;
				content: "";
				left: 9px;
				top: 6px;
				border: 0px solid transparent;
				border-width: 8px 14px;
				border-left-color: #fff;
			}
		}
		&:hover .overlay {
			display: block;
		}
		
	}

	th, td {
		&:first-child {
			padding-right: 7px;
			padding-left: 7px;
		}
	}

	thead tr th {
		padding: 10px 7px;
		border: 1px solid #e6e6e6;
		background: url("../img/title-grad.png") repeat-x bottom #fbfbfb;
		text-align: left;

		border-left: none;
		border-top: 1px solid #eee;

		h4 {
			margin: 0;
		}
		
		&:last-child {
			border-right: none;
		}
	}
	tbody {
		td {
			font-size: 14px;
			padding: 0;
			padding-left: 7px;
			color: #408;
			height: 30px;
			position: relative;
		}
		tr {
			&:nth-child(2n) td {
				background-color: #f4f4f4;
			}
			&:focus {
				outline: none;
				td {
					
					background-color: rgba(160, 64, 255, 0.8);

					a, & {
						color: white;
					}
				}
			}
			&:hover .buttons {
				visibility: visible;
			}
		}
	}

	.buttons {
		visibility: hidden;
		position: absolute;
		right: 2px;
		top: -4px;

		button {
			padding: 3px;
			font-size: 12px;
			margin: 0px;
		}
	}
	
	&:not(.editable) .remove-from-list {
		display: none;
	}
	
}

#iframe-view {
	height: 100%;
	overflow: hidden;

	iframe {
		width: 100%;
		height: 100%;
		border: none;
	}
}

li.empty {
	text-align: center;
	color: #444;
	height: auto;
	font-size: 16px;
}

.notes {
	border-radius: 3px;
	padding: 15px 20px;
	margin: 0 0 15px;
	background-color: #fefefe;
	border: 1px #f3f3f3 solid;
	border-top-color: #eee;
	box-shadow: inset 0 5px 30px -15px #f3f3f3;
	font-size: 0.8em;
	color: #111;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

.left-pane {
	width: 240px;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	background-color: #F2F2F2;
	background-image: url('../img/noisy-texture-100x100-o3-d10-c-F2F2F2-t0.png');
	position: relative;

	> div {
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;

		width: 100%;

		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		flex-direction: column;
	}

	/*#searchbar-wrap {
		padding-bottom: 10px;
	}*/
	#searchbar {
		border: none;
		display: block;
		width: 100%;
		padding: 4px 6px;
		margin: 0px;
		box-shadow: 0px 0px 3px #888;
		font-size: 14px;
		color: #648;
		border-bottom: 1px solid transparent;
		font-family: "Liberation Sans", Helvetica, sans-serif;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		&::-webkit-input-placeholder {
			color: #BAC;
		}
		
		&:focus {
			outline-color: rgba(160, 64, 255, 0.7);
			box-shadow: 0px 0px 8px rgba(160, 64, 255, 0.7);

			&::-webkit-input-placeholder {
				color: transparent;
			}
		}
	}
	#sidepanel-handle {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 7px;
		cursor: e-resize;
		-webkit-transition: opacity .1s ease-in-out;
		background-image: linear-gradient(to right, rgba(0,0,0, 0.0) 0%, rgba(0,0,0, 0.08) 100%);
		opacity: 0;

		&:active, &:hover {
			
			opacity: 1;
		}
	}
}

#left-menu {
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 0px;
	margin: 0px;

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
			list-style-type: none;

			span {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				display: block;
				padding: 2px 0px;
				padding-left: 20px;
				font-size: 13px;
				cursor: default;
				color: #333;

				&:focus {
					outline: none;
					background-color: rgba(160, 64, 255, 0.1);
				}
			}
			&.selected span {
				background-color: rgba(160, 64, 255, 0.7);
				box-shadow: 0px 1px 1px rgb(160, 64, 255);
				color: white;
				font-weight: bold;
			}

			&.separator {
				height: 10px;
				padding: 0px;
				margin: 0px;
			}
		}
	}
}

.trackinfo {
	background-color: #292929;
	background-image: url('../img/noisy-texture-100x100-o2-d10-c-292929-t0.png');
	background-position: left bottom;
	position: relative;
	/*border-top: 1px solid #1d1d1d;
	border-right: 1px solid #1d1d1d;
	box-sizing: border-box;*/
	-webkit-transition: height .35s ease;
	-moz-transition: height .35s ease;
	transition: height .35s ease;
	overflow: hidden;
	display: block;
	width: 100%;


	> label {
		display: block;
	}
	.coverart-wrap {
		overflow: hidden;
		position: relative;
		border-top: 1px solid #1d1d1d;
	}
	#coverart {
		max-height: 480px;
		max-width: 100%;
		display: block;
		margin: auto;
		margin-bottom: -100%;
		-webkit-transition: margin-bottom .35s ease;
		-moz-transition: margin-bottom .35s ease;
		transition: margin-bottom .35s ease;
		cursor: pointer;
	}
	#coverart-thumb {
		position: relative;
		float: left;
		margin-right: 5px;
		margin-left: 0px;
		background-repeat: no-repeat;
		-webkit-transition: margin-left .35s ease;
		-moz-transition: margin-left .35s ease;
		transition: margin-left .35s ease;
		cursor: pointer;

		float: left;
		margin-right: 7px;
		width: 48px;
		height: 48px;
		//background-color: #292929;
		background-image: url('../img/album-placeholder.png');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	#toggle-trackinfo:checked + label #coverart-thumb {
		margin-left: -50px;
	}
	#toggle-trackinfo:checked + label #coverart {
		margin-bottom: 0%;
	}
	/*#toggle-trackinfo:focus + label #coverart, #toggle-trackinfo:focus ~ label #coverart-thumb {
		opacity: 0.8;
	}*/


	.trackinfo-wrapper {
		white-space: nowrap;
		overflow: hidden;
	}
	.marquee {
		
		span {
			text-overflow: ellipsis;
			display: block;
			overflow: hidden;
			color: rgba(255, 255, 255, 0.8);
			font-size: 12px;

			a {
				color: inherit;
			}
		}
	}

	#track-title-wrapper {
		margin-top: 6px;
		margin-bottom: 2px;
	}
	#track-title {
		font-size: 13px;
		font-weight: bold;
	}
	#track-artist {
		font-size: 11px;
	}
}



.bottombar {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 34px;
	background-color: #292929;
	background-image: url('../img/noisy-texture-100x100-o2-d10-c-292929-t0.png');
	background-position: left bottom;
	border-top: 1px solid #1d1d1d;
	//border-bottom: 1px solid #2c2c2c;
	color: #bbbbbb;
	font-family: sans-serif;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.playercontrols {
	font-size: 0px;
	padding-left: 5px;
	z-index: 1;

	#media-controls {
		position: absolute;
	}

	button {
		border: none;
		position: relative;
		width: 32px;
		height: 32px;
		display: inline-block;
		margin-left: 3px;
		/*cursor: pointer;*/
		overflow: hidden;
		background: none;
		/*background-color: rgba(0, 255, 255, 0.5);*/

		&[disabled] {
			cursor: default;
		}
		&:active {
			
		}
		&:focus {
			//background-color: rgba(255, 255, 255, 0.2);
			outline: none;
		}
		&:before, &:after, & div:before, & div:after {
			position: absolute;
			content: "";
		}
	}
	#prev-track-btn {
		// The two triangles
		&:before, &:after {
			border: 0px solid transparent;
			border-width:8px 13px;
			border-right-color:white;
			top: 8px;
		}
		&:before {
			left:-8px;
		}
		&:after {
			left: 4px;
		}
		// The rectangle
		div:before {
			left:3px;
			top: 8px;
			width:3px;
			height:16px;
			background-color: white;
		}
		&[disabled] {
			&:before, &:after {
				border-right-color: #555;
			}
			div:before {
				background-color: #555;
			}
		}
		
	}
	#play-pause-track-btn {
		&:before {
			left: 4px;
			top: 2px;
			border: 0px solid transparent;
			border-width: 14px 25px;
			border-left-color:#fff;
		}

		&.paused:before {
			left: 4px;
			top: 3px;
			width: 7px;
			height: 26px;
			border: 0px solid white;
			border-width: 0 9px;
		}

		&[disabled] {
			&:before {
				border-left-color: #555;
			}

			&.paused:before {
				border-right-color: #555;
			}
		}
	}
	#next-track-btn {
		&:before, &:after {
			border: 0px solid transparent;
			border-width:8px 13px;
			border-left-color:white;
			top: 8px;
		}
		&:before {
			left:2px;
		}
		&:after {
			left:14px;
		}
		div:before {
			left:26px;
			top: 8px;
			width:3px;
			height:16px;
			background-color: white;
		}
		&[disabled] {
			&:before, &:after {
				border-left-color: #555;
			}
			div:before {
				background-color: #555;
			}
		}
	}

	span {
		font-size: 12px;
	}
	.playerTime {
		display: inline-block;
		width: 50px;
		padding: 0px 2px;
		height: 32px;
		line-height: 32px;
		position: absolute;
		text-overflow: ellipsis;
		overflow: hidden;
		/*background-color: rgba(255, 0, 0, 0.5);*/
	}
	#timeElapsed {
		left: 113px;
		text-align: right;
	}
	#timeTotal {
		right: 38px;
		text-align: left;
	}
	#progress-region {
		position: absolute;
		left: 167px;
		right: 92px;
		top: 0;

		/*background-color: rgba(255, 255, 0, 0.5);*/
	}
	/*#progress-song .progressbar-progress {
		-webkit-animation: sample-track 60s infinite linear;
		-moz-animation: sample-track 60s infinite linear;
		animation: sample-track 60s infinite linear;
	}*/
	/*#progress-song .progressbar-loaded {
		-webkit-animation: sample-track-loaded 60s infinite linear;
		-moz-animation: sample-track-loaded 60s infinite linear;
		animation: sample-track-loaded 60s infinite linear;
	}*/

	#track-repeat {

		position: absolute;
		top: 0px;
		right: 0px;
		.repeat-overlay {
			&:before {
				border-left-color: #292929;
			}
			div:before {
				border-right-color: #292929;
			}
		}
		.repeat-checkbox:focus {
			/*~ .repeat-background {
				background-color: #777;
			}
			~ .repeat-overlay {
				&:before {
					border-left-color: #777;
				}
				div:before {
					border-right-color: #777;
				}
			}*/
		}
	}

	.repeat-wrap {
		position: relative;
		width: 38px;
		height: 32px;
		overflow: hidden;
		
		.repeat-checkbox {
			position: absolute;
			left: 0;
			top: 0;
			width: 1px;
			height: 1px;
			-webkit-appearence: none;
			margin: 0px;
			opacity: 0;


			&:checked ~ .repeat-overlay {
				 
				border-color: #fff;
				
				&:after {
					 border-left-color: #fff;
				}
				div:after {
					 border-right-color: #fff;
				}
			}
		}
		.repeat-background {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		.repeat-overlay {
			border: 2px solid #555;
			position: relative;
			border-top-left-radius: 40% 100%;
			border-bottom-right-radius: 40% 100%;
			width: 25px;
			height: 14px;
			left: 4px;
			top: 7px;
			display: block;
			div {
				position: absolute;
				
			}
			&:before {
				content: "";
				position: absolute;
				border: 10px solid transparent;
				border-left-color: white;
				left: 22px;
				top: -11px;
			}
			&:after {
				content: "";
				position: absolute;
				border: 7px solid transparent;
				border-left-color: #555;
				left: 22px;
				top: -8px;
			}
			div:before {
				content: "";
				position: absolute;
				border: 10px solid transparent;
				border-right-color: white;
				left: -17px;
				top: 4px;
			}
			div:after {
				content: "";
				position: absolute;
				border: 7px solid transparent;
				border-right-color: #555;
				left: -11px;
				top: 7px;
			}
		}
	}
}


/* djazz's super awesome progress bar */
.progressbar {
	position: relative;
	padding-left: 12px;
	padding-right: 12px;
	height: 33px;

	.progressbar-track {
		position: absolute;
		left: 16px;
		right: 16px;
		height: 2px;
		background-color: #393939;
		top: 15px;
	}

	.progressbar-loaded {
		position: absolute;
		width: 0;
		background-color: #4b4b4b;
	}

	.progressbar-loaded, .progressbar-progress {
		position: absolute;
		left: 0;
		top: 0;
		height: 2px;
	}

	.progressbar-progress {
		width: 0%;
		/*background-color: rgb(141, 190, 15);
		background-color: rgb(128, 0, 255);*/
		background-color: rgb(160, 64, 255);
		
		&:not(.isDragging) {
			-webkit-transition: width .1s ease-out;
			-moz-transition: width .1s ease-out;
			transition: width .1s ease-out;
		}

		.progressbar-scrubber {
			position: absolute;
			/*box-shadow: 0 0 0 9px rgba(141, 190, 15, 0.5);*/
			border: 1px solid #a0c346;
			background-color: #86b410;
			top: -3px;
			right: -3px;
			width: 6px;
			height: 6px;
			border-radius: 100px;

			border-color: #c080ff;
			background-color: #b468ff;
			box-shadow: 0 0 0 9px rgba(160, 64, 255, 0.4);

			&:focus {
				/*background-color: white;
				border-color: white;
				box-shadow: 0 0 0 9px rgba(255, 255, 255, 0.4);*/
				outline: none;
			}
		}
	}
}


.loading-container {
	height: 64px;
	width: auto;
}